extends meta

block content
	sectio.hero
		div.hero-body
			div.container
				h1.title Bienvenido a #{nombreApp}
				h2.subtitle Consigue a un experto para ese problema
	div.columns
		div.column.is-4
			p Inicia sesión
			form
				div.field
					div.control
						input.input.is-rounded(type="text" placeholder="E-mail")
				div.field
					div.control
						input.input.is-rounded(type="text" placeholder="Contraseña")
				div.field
					div.control
						button.button.is-primary.is-rounded(type="submit") Iniciar sesión
		div.column.is-4
			p Regístrate
			form
				div.field
					div.control
						input.input.is-rounded(type="text" placeholder="Nick")
				div.field
					div.control
						input.input.is-rounded(type="text" placeholder="E-mail")
				div.field
					div.control
						input.input.is-rounded(type="text" placeholder="Contraseña")
				div.field
					div.control
						div.select.is-rounded
							select
								option Regístrarme como proveedor
								option Regístrarme como cliente
				div.field
					div.control
						button.button.is-primary.is-rounded(type="submit") Registrar