extends meta

block content
	h1.title.has-text-centered Actualiza tu información personal
	div.columns
		div.column.is-4
			h2.subtitle.has-text-centered Información personal
			div.field
				div.control
					input.input.is-rounded(type="text" placeholder="Nombre")
			div.field
				div.control
					input.input.is-rounded(type="text" placeholder="Apellido Paterno")
			div.field
				div.control
					input.input.is-rounded(type="text" placeholder="Apellido Materno")
		div.column.is-4
			h2.subtitle.has-text-centered Información confidencial
			div.field
				div.control
					div.select.is-rounded
						select
							option Masculino
							option Femenino
					input.input.is-rounded(type="date")
			div.field
				div.control
					
			div.field
				div.control
					input.input.is-rounded(type="number" placeholder="Celular")
			div.field
				div.control
					input.input.is-rounded(type="number" placeholder="Tarjeta de crédito")
		div.column.is-4
			h2.subtitle.has-text-centered Direcciones
			div.control
